<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50?text=Logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("My Healh Records", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (User.IsInRole("Doctor"))
                    {
                       // <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                        <li class="nav-item active">@Html.ActionLink("Patients", "Index", "Patients")</li>
                        <li class="nav-item active">@Html.ActionLink("My Patients", "MyPatients", "Patients")</li>
                        <li class="nav-item active">@Html.ActionLink("Medicines", "Index", "Medicines")</li>
                        
                        <li class="nav-item active">@Html.ActionLink("Requested Appointments","ShowAppointments","Appointments")</li>


                    }
                    @if (User.IsInRole("Patient"))
                    {
                        <li class="nav-item active">@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                        <li class="nav-item active">@Html.ActionLink("Medicines", "Index", "Medicines")</li>
                        <li class="nav-item active">@Html.ActionLink("My Diagnoses", "ShowDiagnoses", "Diagnoses")</li>
                        <li class="nav-item active">@Html.ActionLink("My Receipts", "ShowReceipts", "Receipts")</li>
                        <li class="nav-item active">@Html.ActionLink("My Requests","ShowAppointmentsPatient","Appointments")</li>
                       
       

                    }
                    @if (User.IsInRole("Admin"))
                    {

                        <li class="nav-item active">@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                        <li class="nav-item active">@Html.ActionLink("Patients", "Index", "Patients")</li>



                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="container">
                 
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
