@model HealthRecords.Models.DoctorPatientDiagnose
@{
    ViewBag.Title = "AddDiagnose";
}

<h2>Add Diagnose</h2>

@using (Html.BeginForm("AddDiagnose", "Diagnoses"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date)
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
    </div>
    @Html.HiddenFor(m => m.PatientId)
    @Html.HiddenFor(m => m.DoctorId)

    <button type="submit" class="btn btn-primary">Save</button>
}

